*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header nav{
    width: 1349px;
    height: 54px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
header nav li{
    display: inline-block;
    float: right;
    padding: 8px 16px;
    margin-right: 20px;
}
header nav li:hover{
    background-color: rgb(187, 183, 183);
}
.liEl{
    float: left;
    margin-left: -26px;
}
header nav li a{
    text-decoration: none;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    letter-spacing: 3px;
}
header h1{
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    color: #767779;
    margin: 10px 0px;
    letter-spacing: 3px;
    margin-top: -69px;
    margin-left: 25px;
    font-weight: 100;
}
.div1{
    width: 547px;
    height: 550px;
    margin-left: 560px;
}
.div1 h1{
    letter-spacing: 5px;
    font-family: 'Playfair Display', serif;
    margin-left: 91px;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 55px;
}
#sec1 {
    width: 1121px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 97px;
    height: 713px;
    border-bottom: 1px solid lightgray;
}
#sec1 img {
    float: left;
    width: 502px;
    height: 628px;
}
.div1 h5{
    width: 502px;
    height: 27px;
    font-size: 17px;
    font-family: 'Playfair Display', serif;
    margin: 10px 0px;
    margin-left: 119px;
    letter-spacing: 5px;
    font-weight: 500;
    color: black;
}
.p1{
    font-size: 18px;
    line-height: 25px;
    width: 495px;
}
.p1 span{
    background-color: #e7e0e0;
    padding: 3px;
}
.p2{
    color: #757575;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
}
#sec2{
      width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 97px;
    height: 845px;
    border-bottom: 1px solid lightgray;
}
.div2 img{
    width: 502px;
    height: 753px;
    float: right;
    margin-top: -655px;
    border-radius: 5px;
}
.div2 h1{
    letter-spacing: 5px;
    font-family: 'Playfair Display', serif;
    margin-left: 218px;
    font-size: 31px;
    font-weight: 500;
}
.div2 h4{
    width: 502px;
    height: 30px;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    margin: 10px 0px;
    letter-spacing: 3px;
    font-weight: 500;
}
.div2 p{
    width: 502px;
    height: 22px;
    color: #757575;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px 0px;
}
#sec3{
    width: 1085px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 97px;
    height: 600px; 
}
#sec3 h1{
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 47px;
}
#sec3 p{
    line-height: 23px;
}
#sec3 b{
    width: 420px;
    height: 20px;
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #607D8B;
}
input{
    width: 1068px;
    height: 55px;
    border: none;
    padding: 16px 8px;
    border-bottom: 1px solid lightgray;

}
form button{
    width: 145px;
    height: 35px;
    background-color: #F1F1F1;
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 31px 0px;
    padding: 1px 16px;
    border: none;
}
footer{
    width: 1349px;
    height: 116px;
    padding: 32px 0px;
    background-color: #F1F1F1;
}
form button:hover{
    background-color: gray;
}